{% extends 'mytrello/base.html' %}


{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            {% if user.admin_confirmed == True %}
                <div class="row row-cols-5 d-flex m-2">
                    <div class="col">
                        <h5 class="card-header text-center mb-1 border border-secondary rounded-pill">
                            <a href="{% url 'new_card' %}">
                                <span style="color: #3b3f44;" >
                                    <i class="far fa-plus-square fa-lg" data-toggle="popover"
                                                              data-trigger="hover"
                                                              data-content="Додати нову картку"></i>
                                </span>
                            </a>
                            Нові
                            <a href="{% url 'new_card' %}">
                                <span style="color: #3b3f44;" >
                                    <i class="far fa-plus-square fa-lg" data-toggle="popover"
                                                              data-trigger="hover"
                                                              data-content="Додати нову картку"></i>
                                </span>
                            </a>
                        </h5>
                        {% for card in view.new %}
                            {% if user == card.assigned_to_user or user == card.created_by_user or user.is_superuser %}
                                <div class="card bg-light mb-1" style="max-width: 18rem;">
                                    <div class="card-header">
                                        <div class="row row-cols-3 d-flex">
                                            <div class="col text-left">
                                            </div>
                                            <div class="col text-center">
                                                <a href="{% url 'edit_card' card.id %}">
                                                <span data-toggle="popover" data-trigger="hover"
                                                      data-content="Редагувати">
                                                    <i class="fas fa-edit fa-2x"></i>
                                                </span>
                                                </a>
                                            </div>
                                            <div class="col text-right">
                                                {% if user == card.assigned_to_user or user.is_superuser %}
                                                <form method="post">
                                                    {% csrf_token %}
                                                    <input type='hidden' name='card_id' value='{{ card.id }}'>
                                                    <span data-toggle="popover" data-trigger="hover"
                                                          data-content="Переміститу у роботу">
                                                    <button style="border: none; color: #17a2b8;" class="far fa-arrow-alt-circle-right fa-2x bg-transparent" type="submit" name='action'
                                                        value="next"></button>
                                                    </span>
                                                </form>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ card.title }}</h5>
                                        <p class="card-text">{{ card.description }}</p>
                                    </div>
                                    {% if user.is_superuser %}
                                        <div class="card-footer bg-transparent">
                                         <div class="row">
                                            <div class="col-md-auto text-left badge text-wrap">
                                                <p>Створив: {{ card.created_by_user }}<br>
                                                Виконавець: {{ card.assigned_to_user }}</p>
                                            </div>
                                            <div class="col text-right">
                                                <span data-toggle="popover" data-trigger="hover"
                                                  data-content="Видалити картку">
                                                <a href="{% url 'delete_card' card.id %}">
                                                    <span style="color: #9e0a1e;" >
                                                        <i class="fas fa-trash fa-lg"></i>
                                                    </span>
                                                </a>
                                            </span>
                                            </div>
                                         </div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% empty %}
                            <div class="card bg-light mb-1" style="max-width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Пусто</h5>
                                    <p class="card-text">В цій категорії зараз немає карток</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>


                    <div class="col">
                    <h5 class="card-header bg-info text-center mb-1 border border-secondary rounded-pill">В
                        роботі</h5>
                        {% for card in view.in_progress %}
                            {% if user == card.assigned_to_user or user == card.created_by_user or user.is_superuser %}
                                <div class="card text-white bg-info mb-1" style="max-width: 18rem;">
                        <div class="card-header">
                            <div class="row row-cols-3 d-flex">
                                <div class="col">
                                    {% if user == card.assigned_to_user or user.is_superuser %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type='hidden' name='card_id' value='{{ card.id }}'>
                                        <span data-toggle="popover" data-trigger="hover"
                                              data-content="Повернути до нових">
                                        <button style="border: none; color: #f8f9fa;" class="far fa-arrow-alt-circle-left fa-2x bg-transparent" type="submit" name='action'
                                            value="back"></button>
                                        </span>
                                    </form>
                                    {% endif %}
                                </div>
                                <div class="col text-center">
                                 {% if True %}
                                    <a href="{% url 'edit_card' card.id %}">
                                     <span data-toggle="popover" data-trigger="hover"
                                      data-content="Редагувати">
                                        <i class="fas fa-edit fa-2x"></i>
                                     </span>
                                     </a>
                                  {% endif %}
                                </div>
                                <div class="col text-right">
                                    {% if user == card.assigned_to_user or user.is_superuser %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type='hidden' name='card_id' value='{{ card.id }}'>
                                        <span style="" data-toggle="popover" data-trigger="hover"
                                              data-content="Передати на перевірку">
                                        <button style="color: #ffc107; border: none" class="far fa-arrow-alt-circle-right fa-2x bg-transparent" type="submit" name='action'
                                            value="next"></button>
                                        </span>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ card.title }}</h5>
                            <p class="card-text">{{ card.description }}</p>
                        </div>
                                    {% if user.is_superuser %}
                                        <div class="card-footer bg-transparent">
                                         <div class="row">
                                            <div class="col-md-auto text-left badge text-wrap">
                                                <p>Створив: {{ card.created_by_user }}<br>
                                                Виконавець: {{ card.assigned_to_user }}</p>
                                            </div>
                                            <div class="col text-right">
                                                <span data-toggle="popover" data-trigger="hover"
                                                  data-content="Видалити картку">
                                                <a href="{% url 'delete_card' card.id %}">
                                                    <span style="color: #9e0a1e;" >
                                                        <i class="fas fa-trash fa-lg"></i>
                                                    </span>
                                                </a>
                                            </span>
                                            </div>
                                         </div>
                                        </div>
                                    {% endif %}
                    </div>
                            {% endif %}
                        {% empty %}
                            <div class="card bg-info mb-1 text-white" style="max-width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Пусто</h5>
                                    <p class="card-text">В цій категорії зараз немає карток</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>


                    <div class="col">
                    <h5 class="card-header bg-warning text-center mb-1 border border-secondary rounded-pill">На
                        перевірці</h5>
                        {% for card in view.in_qa %}
                            {% if user == card.assigned_to_user or user == card.created_by_user or user.is_superuser %}
                                <div class="card text-white bg-warning mb-1" style="max-width: 18rem;">
                        <div class="card-header">
                            <div class="row row-cols-3 d-flex">
                                <div class="col text-left">
                                    {% if user == card.assigned_to_user or user.is_superuser %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type='hidden' name='card_id' value='{{ card.id }}'>
                                        <span data-toggle="popover" data-trigger="hover"
                                              data-content="Повернути на доопрацювання">
                                        <button style="color: #17a2b8;border: none" class="far fa-arrow-alt-circle-left fa-2x bg-transparent" type="submit" name='action'
                                            value="back"></button>
                                        </span>
                                    </form>
                                    {% endif %}
                                </div>
                                <div class="col text-center">
                                 {% if True %}
                                    <span style="color: #f8f9fa;" data-toggle="popover" data-trigger="hover"
                                      data-content="Редагувати">
                                        <a href="{% url 'edit_card' card.id %}"><i class="fas fa-edit fa-2x"></i></a>
                                    </span>
                                  {% endif %}
                                </div>
                                <div class="col text-right">
                                    {% if user == card.assigned_to_user or user.is_superuser %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type='hidden' name='card_id' value='{{ card.id }}'>
                                        <span data-toggle="popover" data-trigger="hover"
                                              data-content="Підтвердити готовність">
                                        <button style="color: #28a745; border: none" class="far fa-arrow-alt-circle-right fa-2x bg-transparent" type="submit" name='action'
                                            value="next"></button>
                                        </span>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ card.title }}</h5>
                            <p class="card-text">{{ card.description }}</p>
                        </div>
                                    {% if user.is_superuser %}
                                        <div class="card-footer bg-transparent">
                                         <div class="row">
                                            <div class="col-md-auto text-left badge text-wrap">
                                                <p>Створив: {{ card.created_by_user }}<br>
                                                Виконавець: {{ card.assigned_to_user }}</p>
                                            </div>
                                            <div class="col text-right">
                                                <span data-toggle="popover" data-trigger="hover"
                                                  data-content="Видалити картку">
                                                <a href="{% url 'delete_card' card.id %}">
                                                    <span style="color: #9e0a1e;" >
                                                        <i class="fas fa-trash fa-lg"></i>
                                                    </span>
                                                </a>
                                            </span>
                                            </div>
                                         </div>
                                        </div>
                                    {% endif %}
                    </div>
                            {% endif %}
                        {% empty %}
                            <div class="card bg-warning mb-1 text-white" style="max-width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Пусто</h5>
                                    <p class="card-text">В цій категорії зараз немає карток</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>


                    <div class="col">
                    <h5 class="card-header bg-success text-center mb-1 border border-secondary rounded-pill">
                        Готові</h5>
                        {% for card in view.ready %}
                            {% if user == card.assigned_to_user or user == card.created_by_user or user.is_superuser %}
                                <div class="card text-white bg-success mb-1" style="max-width: 18rem;">
                        <div class="card-header">
                             <div class="row row-cols-3 d-flex">
                                <div class="col text-left">
                                    {% if user == card.assigned_to_user or user.is_superuser %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type='hidden' name='card_id' value='{{ card.id }}'>
                                        <span data-toggle="popover" data-trigger="hover"
                                              data-content="Повернути на перевірку">
                                        <button style="color: #ffc107; border: none" class="far fa-arrow-alt-circle-left fa-2x bg-transparent" type="submit" name='action'
                                            value="back"></button>
                                        </span>
                                    </form>
                                    {% endif %}
                                </div>
                                <div class="col text-center">
                                 {% if user.is_superuser %}
                                    <span style="color: #f8f9fa;" data-toggle="popover" data-trigger="hover"
                                      data-content="Редагувати">
                                        <a href="{% url 'edit_card' card.id %}"><i class="fas fa-edit fa-2x"></i></a>
                                    </span>
                                  {% endif %}
                                </div>
                                <div class="col text-right">
                                    {% if user.is_superuser %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type='hidden' name='card_id' value='{{ card.id }}'>
                                        <span style="color: #3b3f44;" data-toggle="popover" data-trigger="hover"
                                              data-content="Підтвердити завершеність картки">
                                        <button style="border: none" class="far fa-arrow-alt-circle-right fa-2x bg-transparent" type="submit" name='action'
                                            value="next"></button>
                                        </span>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ card.title }}</h5>
                            <p class="card-text">{{ card.description }}</p>
                                </div>
                                    {% if user.is_superuser %}
                                        <div class="card-footer bg-transparent">
                                         <div class="row">
                                            <div class="col-md-auto text-left badge text-wrap">
                                                <p>Створив: {{ card.created_by_user }}<br>
                                                Виконавець: {{ card.assigned_to_user }}</p>
                                            </div>
                                            <div class="col text-right">
                                                <span data-toggle="popover" data-trigger="hover"
                                                  data-content="Видалити картку">
                                                <a href="{% url 'delete_card' card.id %}">
                                                    <span style="color: #9e0a1e;" >
                                                        <i class="fas fa-trash fa-lg"></i>
                                                    </span>
                                                </a>
                                            </span>
                                            </div>
                                         </div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% empty %}
                            <div class="card bg-success mb-1 text-white" style="max-width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Пусто</h5>
                                    <p class="card-text">В цій категорії зараз немає карток</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>


                    <div class="col">
                    <h5 class="card-header bg-secondary text-center mb-1 border border-secondary rounded-pill">
                        Завершені</h5>
                        {% for card in view.done %}
                            {% if user == card.assigned_to_user or user == card.created_by_user or user.is_superuser %}
                                <div class="card text-white bg-secondary mb-1" style="max-width: 18rem;">
                                    <div class="card-header">
                                         <div class="row row-cols-3 d-flex">
                                            <div class="col text-left">
                                                {% if user.is_superuser %}
                                                <form method="post">
                                                    {% csrf_token %}
                                                    <input type='hidden' name='card_id' value='{{ card.id }}'>
                                                    <span data-toggle="popover" data-trigger="hover"
                                                          data-content="Повернути до готових">
                                                    <button style="color: #28a745; border: none" class="far fa-arrow-alt-circle-left fa-2x bg-transparent" type="submit" name='action'
                                                        value="back"></button>
                                                    </span>
                                                </form>
                                                {% endif %}
                                            </div>
                                            <div class="col text-center">
                                             {% if user.is_superuser %}
                                                <span style="color: #f8f9fa;" data-toggle="popover" data-trigger="hover"
                                                  data-content="Редагувати">
                                                    <a href="{% url 'edit_card' card.id %}"><i class="fas fa-edit fa-2x"></i></a>
                                                </span>
                                              {% endif %}
                                            </div>
                                            <div class="col text-right">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ card.title }}</h5>
                                        <p class="card-text">{{ card.description }}</p>
                                    </div>
                                    {% if user.is_superuser %}
                                        <div class="card-footer bg-transparent">
                                         <div class="row">
                                            <div class="col-md-auto text-left badge text-wrap">
                                                <p>Створив: {{ card.created_by_user }}<br>
                                                Виконавець: {{ card.assigned_to_user }}</p>
                                            </div>
                                            <div class="col text-right">
                                                <span data-toggle="popover" data-trigger="hover"
                                                  data-content="Видалити картку">
                                                <a href="{% url 'delete_card' card.id %}">
                                                    <span style="color: #9e0a1e;" >
                                                        <i class="fas fa-trash fa-lg"></i>
                                                    </span>
                                                </a>
                                            </span>
                                            </div>
                                         </div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% empty %}
                            <div class="card bg-secondary mb-1 text-white" style="max-width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Пусто</h5>
                                    <p class="card-text">В цій категорії зараз немає карток</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}
{% block extrajs %}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
{% endblock %}
