{% extends 'mytrello/base.html' %}


{% block content %}
    <div class="container">
        <div class="row row-cols-5 d-flex">
            <div class="col">
                <h5 class="card-header text-center mb-1 border border-secondary rounded-pill">Нові</h5>
                <div class="card bg-light mb-1" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Warning card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
                <div class="card bg-light mb-1" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Warning card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <h5 class="card-header bg-info text-center mb-1 border border-secondary rounded-pill">В роботі</h5>
                <div class="card text-white bg-info mb-1" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Info card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <h5 class="card-header bg-warning text-center mb-1 border border-secondary rounded-pill">На перевірці</h5>
                <div class="card text-white bg-warning mb-1" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Warning card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <h5 class="card-header bg-success text-center mb-1 border border-secondary rounded-pill">Готові</h5>
                <div class="card text-white bg-success mb-1" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Success card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <h5 class="card-header bg-secondary text-center mb-1 border border-secondary rounded-pill">Завершені</h5>
                <div class="card text-white bg-secondary mb-1" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Secondary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
        {% for card in context %}
            {#          <div class="col mb-4">#}
            {#            <div class="card h-100">#}
            {#                <a href="{% url 'product_by_id' product.id %}">#}
            {#                    <img src="{{ product.picture.url }}" class="card-img-top" alt="{{ product.title }}">#}
            {#                </a>#}
            {#              <div class="card-body">#}
            {#                <h5 class="card-title">{{ product.title }}</h5>#}
            {#                <p class="card-text">{{ product.description | truncatechars:200 }}</p>#}
            {#                    {% if user.is_superuser %}#}
            {#                        <a href="{% url 'edit_product' product.id %}"><button type="button" class="btn-primary btn-sm" >Змінити</button></a>#}
            {#                    {% endif %}#}
            {#              </div>#}
            {#                <div class="card-footer">#}
            {#                    <small class="text-muted text-left">Ціна: {{ product.price }}</small>#}
            {#                    {% if user.is_authenticated %}#}
            {#                        <a href="{% url 'product_by_id' product.id %}" class="col-sm-3"><button type="button" class="btn-success btn-sm" >Купити</button></a>#}
            {#                    {% endif %}#}
            {#                </div>#}
            {#            </div>#}
            {#          </div>#}
        {% endfor %}
    </div>

{% endblock %}