{% extends 'users/base.html' %}


{% block content %}
    <div class="h4 text-center">Треба увійти до системи</div><br>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container">
        <div class="row row-cols-2 row-cols-md-1">
            <h5 class="text-center">Якщо вже маєте акаунт у системі</h5>
            <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Увійти</a>
        </div>
        <div class="row row-cols-2 row-cols-md-1">
            <h5 class="text-center">Якщо ще не маєте акаунту</h5>
            <a class="btn btn-success btn-lg" href="{% url 'register' %}" role="button">Зареєструватися</a>
        </div>
    </div>

{% endblock %}