{% extends 'AVShop/base.html' %}

{% block title %} My info {% endblock %}
{% block content %}
    Username: {{ user.username }}<br>
    Email: {{ user.email }}
    {% if confirm_form %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="confirm">
            <p>Confirm your email</p>
            {{ confirm_form }}
            <button>Confirm</button>
        </form>
    {% endif %}
    {% if purchase_list %}
        {% for purchase in purchase_list %}
            <div class="card">
                <h5 class="card-header"><a
                        href="{% url 'product_by_id' purchase.product.id %}">{{ purchase.product.title }}</a>
                </h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <img src="{{ purchase.product.picture.url }}" class="card-img-top"
                                 alt="{{ purchase.product.title }}">
                        </div>
                        <div class="col">
                            <p class="card-text">{{ purchase.product.description | truncatechars:100 }}<br>
                                Куплено {{ purchase.amount }} одиниць за ціною {{ purchase.product.price }}<br>
                                У Вас є <b>ТРИ</b> хвилини з моменту купівлі
                                ({{ purchase.created_at|date:"d.m.Y" }} {{ purchase.created_at|time:"H:i" }}), щоб
                                відмінити свою покупку!
                            </p>
                            {#                                <a href="{% url 'edit_product' purchase.product.id %}" class="btn btn-primary">Редагувати</a>#}
                            <form action="{% url 'purchase_delete' purchase.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-small btn-danger">
                                    Відмінити
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            У Вас немає наявних покупок
        {% endfor %}
    {% endif %}
{% endblock %}